<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>アレルギーチェックシステム</h1>
  <p>このアプリケーションでは、登録されたユーザーの持つアレルギーチェックをすることができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>