<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>時間管理表</td>
      <td>通常給食開始時刻：<%= format_basic_info(@user.work_time) %></td>
      <td>給食時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日</td>
    </tr>

    <tr>
      <td>所属：<%= @user.classroom.present? ? @user.classroom : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>給食日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>