<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>時間管理表</td>
      <td></td>
      <td></td>
      <td>月初日</td>
    </tr>

    <tr>
      <td>学年</td>
      <td>担任：<%= @user.name %></td>
      <td></td>
      <td>月末日</td>
    </tr>
  </table>
</div>